<!-- <div class="project-card-mission">

  <div class="project-card-mission-title background-blue">
    <div><%= m.title %></div>
  </div>

  <div class="project-card-mission-content">

    <div class="project-card-mission-description">
      <%= m.description %>
    </div>

    <div class="project-card-mission-price">
      <%#= number_with_delimiter( m.price, delimiter: " ") %> €
    </div>

    <div class="project-card-mission-skills">
      <%# m.skills.each do |skill| %>
        <div class="project-card-mission-skill" style="color: <%= skill.color %>">
          <%#= skill.name.upcase %>
        </div>
      <%# end %>
    </div>

  </div>

</div> -->
