
// Colors of Bootcampers :
$red: #D0021B;
$lightblue: #709EF2;
$blue: #4B84ED;
$yellow: #FDB631;
$orange: #FF5C3E;
$lightorange: #F5A623;
$green: #70CB0C;
$lightgreen: #00E04C;
$black: #000000;
$gray: #777777;
$backgray: #FAFAFA;
$lightgray: #A9A9A9;
$white: #FFFFFF;
