// Specific CSS for your home-page
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.banner-content {
  color: white;
  /*text-align: center;*/
  align-self: flex-start;
  padding-left: 140px;
  padding-top: 50px;
}

.banner h1 {
  font-weight: bolder;
  font-size: 54px;
}

.banner p {
  font-weight: lighter;
  padding-bottom: 25px;
  font-size: 30px;
  opacity: 0.8;
}
