// Specific CSS for your home-page
.wrapper {
  width: 100%;
  background-size: cover;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.banner-content {
  color: white;
  /*text-align: center;*/
  align-self: flex-start;
  padding-left: 140px;
  padding-top: 50px;
}

.banner h1 {
  font-weight: bolder;
  font-size: 54px;
}

.banner h2 {
  font-weight: bolder;
  font-size: 48px;
}

.banner p {
  font-weight: lighter;
  // padding-bottom: 25px;
  margin-bottom: 50px;
  font-size: 30px;
  opacity: 0.8;
}

.banner-companies-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;

  img {
    width: 9%;
    height: 9%;
  }
}



.page-error-logo {
  margin-top: 15px;
  margin-left: 15px;
}

.page-error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 230px;
}

.page-404, .page-500 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-404, .title-500 {
  color: $gray;
  font-size: 25px;
  margin-bottom: 30px;
}

.btn-error {
  background-color: $blue;
  border-radius: 50px;
  padding: 5px 15px;
  color: $white;
  font-weight: bolder;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.btn-error:hover {
  opacity: 0.8;
  color: $white;
  box-shadow: 2px 2px 2px $lightgray;
}

.page-error a {
    text-decoration: none;
    color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
    &:focus {
      text-decoration: none;
      color: $white;
    }
  }
