// Specific CSS for your home-page
.wrapper {
  width: 100%;
  background-size: cover;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.banner-content {
  color: white;
  /*text-align: center;*/
  align-self: flex-start;
  padding-left: 140px;
  padding-top: 50px;
}

.banner h1 {
  font-weight: bolder;
  font-size: 54px;
}

.banner h2 {
  font-weight: bolder;
  font-size: 48px;
}

.banner p {
  font-weight: lighter;
  // padding-bottom: 25px;
  margin-bottom: 50px;
  font-size: 30px;
  opacity: 0.8;
}

.banner-companies-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;

  img {
    width: 9%;
    height: 9%;
  }
}

.banner-404 {
  margin-top: 25vh;
  text-align: left;
  p {
    color: $white;
    font-size: 16px;
    padding: 0px;
    margin-bottom: 10px;
  }
  h3 {
    color: $white;
    font-weight: bolder;
    font-size: 18px;
  }
}

.banner-500 {
  margin-top: 25vh;
  text-align: left;
  h3 {
    color: $lightorange;
    font-weight: bolder;
    font-size: 18px;
  }
}
