<div class="searchbar">

  <div class="searchbar-title">
    Missions
  </div>
  <div class="searchbar-skills">
    <!-- skills selector -->
    <select class="searchbar-skills-styled-select" id="routes">
      <option value="#route-1">CSS</option>
      <option value="#route-2">HTML</option>
      <option value="#route-3">JS</option>
      <option value="#route-4">Ruby</option>
    </select>
  </div>
  <div class="searchbar-search">
    <div class="field-input">
      <input type="text" placeholder="Rechercher"/><span> </span>
    </div>
  </div>
</div>
