<div class="searchbar">

  <div class="searchbar-title">
    Missions disponibles
  </div>
  <!-- <div class="searchbar-skills">
    <select class="searchbar-skills-styled-select" id="routes">
      <option value="#route-1">HTML/CSS</option>
      <option value="#route-2">JS</option>
      <option value="#route-3">RAILS</option>
    </select>
  </div>
  <div class="searchbar-search">
    <div class="field-input">
      <input type="text" placeholder="Rechercher"/><span> </span>
    </div>
  </div> -->
</div>
