<h3>Pending or Ongoing or Finished</h3>
<% @missions.each do |mission| %>
  <div class="mission-followup">
    <img src="https://source.unsplash.com/random/40x40" class="avatar sm">
    <div class="items company">Company name</div>
    <div class="items title"><%= mission.title %></div>
    <div class="list-inline items">
      <% mission.skills.each do |skill| %>
        <div style="color: <%= skill.color %>;"><%= skill.name %></div>
      <% end %>
    </div>
    <div class="items">xx days remaining</div>
  </div>
<% end %>
