<div class="container">
  <h1 class="bootcamper-missions-title">Missions en cours</h1>
  <% @pending_missions.each do |mission| %>
    <%= render "pending_mission_card", mission: mission %>
  <% end %>

  <% @ongoing_missions.each do |mission| %>
    <%= render "ongoing_mission_card", mission: mission %>
  <% end %>

  <% @delivered_missions.each do |mission| %>
    <%= render "delivered_mission_card", mission: mission %>
  <% end %>

  <% @paid_off_missions.each do |mission| %>
    <%= render "paid_off_mission_card", mission: mission %>
  <% end %>
</div>
