<!-- début du code de la banner content -->
<div class="banner">
  <div class="banner-content">
    <h1>Trouve une mission</h1>
    <p>Code sans te soucier du reste</p>
  </div>
  <div class="btn-home">
    <%= link_to t(".sign_in", default: "Inscription"), new_user_session_path, class: "btn-start btn-publish" %>
  </div>
</div>
<!-- fin du code de la banner -->
