<!-- début du code de la banner content -->

  <div class="banner">
    <div class="banner-content">
      <h1>Trouve une mission</h1>
      <p>Code sans te soucier du reste</p>
    </div>
    <div class="btn-home">
      <a href="" class="btn-start orange">Start</a>
    </div>
  </div>
</div>
<!-- fin du code de la banner -->
