<!-- début du code de la banner content -->
<div class="banner">
  <div class="banner-content">
    <h1>Trouve une mission</h1>
    <p>Code sans te soucier du reste</p>
  </div>
  <div class="btn-home">
    <%= link_to t(".sign_in", default: "Devenir Bootcamper"), new_user_session_path, class: "btn-start btn-publish" %>
  </div>
  <div class="banner-companies-logo">
    <img src="https://landmcrane.com/wp-content/uploads/2017/09/LinkedIn_logo_white.png" alt="">
    <img src="http://www.brightcontact.eu/wp-content/uploads/2016/08/airbnb.png" alt="">
    <img src="http://www.brandcenter.total.com/sites/brandcenter/files/atoms/image/total_logo_horizontal_white.png" alt="">
    <img src="https://superf.ly/uploads/google-logo.png" alt="">
    <img src="https://accorfranchise.com.au/img/logo-white.png" alt="">
    <img src="http://p4.zdassets.com/hc/settings_assets/421176/200042906/fuRcbaa5pvdpFyclgaQ4GQ-2016-03-10.png" alt="">
  </div>
</div>
<!-- fin du code de la banner -->
