<div class="wrapper">
  <div class="page-error-logo">
    <%= image_tag "blue-logo.png", id: "error-logo" %>
  </div>
  <div class="page-error">
    <div class="page-500">
      <div class="title-500">Une erreur est survenue, veuillez nous excuser de la gêne occasionnée</div>
      <div class="btn btn-error"><%= link_to "Retour vers la page d'accueil", root_path %>
      </div>
    </div>
  </div>
</div>

