<div class="container">
  <div class="banner" style='background-image: url("https://10up.com/wp-content/themes/10up-sept2016/assets/img/404.png")'>
    <h2>Oops, il semble que cette page n'existe pas</h2>
    <div class="banner-404">
      <p>3 solutions s'offrent à vous:</p>
      <p>a. Revenir à la page précédente et nous appeler pour nous mettre misère</p>
      <p>b. Rester sur cette page et nous appeler pour nous mettre misère</p>
      <p>c. Aller sur un site qui ne plante pas</p>
      <h3>Si vous choisissez a ou b, vous aurez droit à notre reconnaissance éternelle!</h3>
    </div>
  </div>
</div>
