<div class="container">
  <h1 class="projects-title">Projets en cours</h1>
  <% @projects.each do |project| %>
    <%= render "company/projects/status/#{project.status[:slug]}", project: project %>
  <% end %>
</div>
