.btn-start {
  background-color: #FF5C3E;
  text-decoration: none;
  border-radius: 50px;
  padding: 15px 60px;
  color: white;
  transition: 0.4s ease;
  margin-top: 10px;
}

.btn-start:hover {
  background-color: #e8472e;
  text-decoration: none;
  color: white;
}

.btn-home {
  padding-top: 10px;

  .btn-publish {
    padding: 17px 40px;
    font-size: 16px;
  }
}

/*button publier une mission */
.btn-publish {
  background-color: #4B84ED;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 25px;
  color: white;
  transition: 0.4s ease;
  font-size: 14px;
}

.btn-publish:hover {
  text-decoration: none;
  color: white;
  background-color: #407add;
}

/*buttons régler un projet */
.btn-signed-off {
  background-color: $lightred;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  font-size: 14px;
}

.btn-paid-off {
  background-color: $orange;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  font-size: 14px;
}

.btn-signed-off-show {
  background-color: $lightred;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  margin-top: 10px;
}

.btn-paid-off-show {
  background-color: $orange;
  text-decoration: none;
  border-radius: 50px;
  padding: 15px 15px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  margin-top: 10px;
}

.btn-signed-off:hover, .btn-paid-off:hover, .btn-signed-off-show:hover, .btn-paid-off-show:hover {
  opacity: 0.8;
  color: $white;
  box-shadow: 2px 2px 2px $lightgray;
}

/*button accepter une demande */
.btn-accept-request {
  background-color: $orange;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  margin-top: 10px;
}

.btn-accept-request:hover {
  opacity: 0.8;
  color: $white;
  box-shadow: 2px 2px 2px $lightgray;
}


/*button apply une mission */
.btn-apply-mission {
  background-color: $orange;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  margin-top: 10px;
}

.btn-apply-mission:hover {
  opacity: 0.8;
  color: $white;
  box-shadow: 2px 2px 2px $lightgray;
}


/*button télécharger cahier des charges */
.btn-download-specs {
  background-color: $blue;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 12px;
}

.btn-download-specs:hover {
  opacity: 0.8;
  color: $white;
  box-shadow: 2px 2px 2px $lightgray;
}

/*button définir un projet */
.btn-define {
  background-color: $yellow;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  font-size: 14px;
}

.btn-define-show {
  background-color: $yellow;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  margin-top: 10px;
}

.btn-define:hover, .btn-define-show:hover {
  opacity: 0.8;
  color: $white;
  box-shadow: 2px 2px 2px $lightgray;
}

/*button livrer un projet */
.btn-deliver {
  background-color: $blue;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  font-size: 14px;
}

.btn-deliver-show {
  background-color: $blue;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  margin-top: 10px;
}

.btn-deliver:hover, .btn-deliver-show:hover {
  opacity: 0.8;
  color: $white;
  box-shadow: 2px 2px 2px $lightgray;
}

.stripe-button-el {
  background: transparent !important;
  border-color: red !important;
  box-shadow: none !important;
  width: 130px !important;

  span {
    color: white !important;
    display: block !important;
    position: relative !important;
    padding: 0 12px !important;
    margin-top: 10px !important;
    height: 30px !important;
    line-height: 30px !important;
    background: $green !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25) !important;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25)!important;
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25)!important;
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25)!important;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25)!important;
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    -ms-border-radius: 4px!important;
    -o-border-radius: 4px!important;
    border-radius: 40px!important;
  }
 }

/*button livrer un projet */
.btn-accept-apply {
  background-color: $orange;
  text-decoration: none;
  border-radius: 30px;
  padding: 3px 10px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease-out;
  font-size: 12px;
}

.btn-accept-apply:hover {
  opacity: 0.8;
  color: $white;
  box-shadow: 2px 2px 2px $lightgray;
}
