.container {
  width: 90%;
  color: $gray;
}

.projects-title {
  font-size: 16px;
  margin-bottom: 20px;
}

.card-company-project-infos {
  width: auto;
}

.cppi-titles, .cppi-body {
  display: flex;
  justify-content: space-between;
}

.cppi-body {
  align-items: center;
}

.cppi-titles {
  margin-bottom: 10px;
  font-weight: bolder;
}

.card-company-project {
  background-color: $white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.2s ease;
  box-shadow: 0px 0px 5px -1px $lightgray;
  border: 1px;
  height: 180px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.card-company-project:hover {
  transform: scale(1.1)
}


.backg-status {
  text-decoration: none;
  border-radius: 5px 0px 0px 5px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease;
  text-align: center;
  border: 1px;
  width: 150px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
}

.leader, .company-project-payment, .company-project-dev, .company-project-finish {
  text-align: center;
}

.company-project, .card-company-project-infos, {

}

.leader-infos, .leader {
  width: 250px;
}

.cp-infos, .company-project {
  width: 350px;
}

.cp-accepted, .company-project-accepted, .cp-created, .company-project-created,
.cp-scoped, .company-project-scoped, .cp-signedoff, .company-project-signedoff,
.cp-paidoff, .company-project-paidoff, .cp-delivered, .company-project-delivered {
  width: 100px;
  margin-left: 40px;
}

.leader-avatar {
  border-radius: 50px;
  margin-bottom: 5px;
}

.titles-request, .body-request {
  margin-left: 40px;
}

.card-btn-pay .btn {
  font-weight: bolder;
}

.cpp-amount {
  margin-bottom: 20px;
}
