// CSS de l'index des missions
.cards-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-mission {
  width: 240px;
  height: 340px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 9px -1px $gray;
  margin-top: 30px;

  a {
    text-decoration: none;
  }

  :focus {
    outline: none;
  }
}

.background-blue {
  background: $blue;
}

.blue {
  color: $blue;
}

.card-mission-title {
  width: 240px;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 100;

  p {
      margin: 0;
  }
}

.card-mission-company-infos {
  padding: 10px 10px 0px 15px;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px -1px $lightblue;
  }
}

.card-mission-price-name {
  height: 65px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-mission-price {
  font-size: 25px;
  font-weight: 300;
  color: $blue;
}

.card-mission-company-name {
  font-size: 16px;
  font-weight: 400;
  color: $lightgray;
}

.card-mission-content {
  padding-top: 25px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-mission-date {
  height: 30px;
  padding: 0px 10px 0px 20px;
  color: $lightgray;
  font-size: 16px;
  font-weight: 800;
  display: flex;
  align-items: center
}

.card-mission-description {
  height: 160px;
  padding: 0px 10px 0px 20px;
  color: $lightgray;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  align-items: center
}

.card-mission-skills {
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.card-mission-skill {
  font-weight: bold;
}

// .card-mission-js {
//   color: #F5A623;
//   font-size: 16px;
// }
// .card-mission-ruby {
//   color: #D0021B;
//   font-size: 16px;
// }
// .card-mission-html {
//   font-size: 16px;
// }
// .card-mission-css {
//   color: #00E04C;
//   font-size: 16px;
// }

// Fin du CSS de l'index missions

// CSS de la card mission shadow
.card-show {
  height: 100vh;
  background: white;
  border-radius: 10px;
  box-shadow: -1px -1px 20px -5px black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;

  .card-show-content {
    height: 100vh;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }
}

.card-show-title {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue;
  border-radius: 10px 10px 0px 0px;

  h1 {
    font-size: 22px;
    color: white;
  }
}

.card-show-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.card-show-description {
  margin: 30px;
}

.card-show-project-infos {
  margin: 30px;
}

.card-show-download {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-show-btn-apply {
  .btn-warning {
    padding: 10px 40px;
    border-radius: 5px;
  }
}

.card-show-company-logo {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px -1px $lightblue;
}
