.mpm-project-missions {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.project-card-mission {
  width: 270px;
  background-color: $white;
  border-radius: 5px;
  transition: 0.2s ease;
  box-shadow: 0px 0px 5px -1px $lightgray;
  border: 1px;
  height: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  font-size: 16px;
}

.project-card-mission:hover {
  transform: scale(1.05);
}

.card-bootcamper-mission:focus {
    outline: none;
  }

.project-card-mission-title {
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease;
  text-align: center;
  border: 1px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
}

.project-card-mission-content {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: $gray;
}

.project-card-mission-description {
  margin-bottom: 20px;
}

.project-card-mission-price {
  margin-bottom: 10px;
}

.project-card-mission-skills {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.project-card-mission-skill {
  margin-right: 5px;
  font-weight: bolder;
}

.project-card-mission-skills-title {
  margin-right: 5px;
}


.project-card-mission-applies-bootcampers {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.project-card-mission-applies-title {
  margin-top: 20px;
  font-size: 14px;
  width: 100%;
}

.project-card-mission-apply {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  padding-right: 35px;
  padding-left: 35px;
}
