.container {
  width: 90%;
  color: $gray;
}

.projects-title {
  font-size: 16px;
  margin-bottom: 20px;
}

.card-leader-request {
  background-color: $white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.2s ease;
  box-shadow: 0px 0px 5px -1px $lightgray;
  border: 1px;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 14px;
}

.card-leader-request:hover {
  transform: scale(1.05)
}

.card-leader-request:focus {
    outline: none;
  }

.lr-company-infos {
  width: 150px;
}


.lr-project-infos {
  width: 340px;
}


.lr-project-price {
  width: 100px;
  margin-right: 30px;
}


.lr-company-infos, .lr-project-price{
  text-align: center;
}
.lr-company-infos, .lr-project-infos, .lr-project-price{
  margin-bottom: 10px;
  margin-top: 10px;
}
