.content-form {
  min-height: 100vh; /* 1 */
	display: flex; /* 2 */
	flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    flex-grow: 1;
    padding-top: 45px;
  }

  .form-logo {
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 35px;
    width: 70%;
    height: 70%;
  }
}

.content-form-footer {
  width: 100%;
  border-top: 1px solid #e8e8e8;
  text-align: center;
  align-self: flex-end;
  padding: 14px;
  font-size: 13px;
  background: #f8f8fa;
  font-weight: lighter;

  a:hover {
    text-decoration: none;
  }
}

.form-control {
  width: 100%;
  height: 46px;
  padding: 0 15px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  background-color: transparent;
  font-size: 13.5px;
  font-weight: lighter;
  color: #656b75;
}

.form-actions {
  display: flex;
  justify-content: center;

  .btn-publish {
    width: 140px;
    height: 45px;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    transition: 0.1s ease;
  }
}

.under-link {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
  line-height: 16px;
  color: #9197a0;

  a {
    color: $gray;
  }

  a:hover {
    text-decoration: none;
    color: $blue;
  }
}

.form {
  text-align: center;

  img {
    margin-bottom: 10px;
    width: 45px;
  }

  h2 {
    color: $blue;
    margin-bottom: 25px;
  }

  h4 {
    color: $blue;
    margin-bottom: 35px;
  }

  h5 {
    color: $gray;
    margin-bottom: 35px;
    font-weight: lighter;
  }

  p {
    color: $gray;
    // margin-bottom: 35px;
    font-weight: lighter;
    font-size: 12px;
  }
}
