.form-project-ongoing {
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;

  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: $blue;
  }

  h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 20px;
    color: $blue;
    padding-top: 20px;
    border-top: 1px solid rgb(235,235,235);
  }

  label {
    font-weight: lighter;
  }

  .form-project-ongoing-date {
    font-weight: lighter;
    margin-bottom: 20px;

    b {
      color: $blue;
    }
  }

  .btn-warning {
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px 45px;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 30px;
    color: white;
    transition: 0.4s ease;
    font-size: 14px;
    width: 100%;
    transition: .3s ease-out;
    border-color: $orange;
  }

  .btn-warning:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    background-color: #ff6b51;
    border-color: #ff6b51;
  }

  .btn-publish {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px;
    color: white;
    transition: 0.4s ease;
    font-size: 14px;
    width: 45%;
    transition: .3s ease-out;
  }

  .btn-publish:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    color: white;
  }

  .btn-delete {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px;
    color: white;
    transition: 0.4s ease;
    font-size: 14px;
    width: 45%;
    transition: .3s ease-out;
    background-color: red;
  }

  .btn-delete:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    color: white;
  }

  .links {
    text-align: center;
  }

  .text-align {
    text-align: center;
  }

  .skills-choice {
    display: flex;

    .skills-choiceJS {
      color: rgb(160,160,160);
      font-weight: bolder;
      &:hover {
        color: #75A623;
        cursor: pointer;
      }

      input {
        display: none;
      }

      input:checked + label {
        color: #75A623;
        font-weight: bolder;
      }
    }

    .skills-choiceRAILS {
      color: rgb(160,160,160);
      font-weight: bolder;
      &:hover {
        color: #D0021B;
        cursor: pointer;
      }

      input {
        display: none;
      }

      input:checked + label {
        color: #D0021B;
        font-weight: bolder;
      }
    }

    .skills-choiceHTML {
      color: rgb(160,160,160);
      font-weight: bolder;
      &:hover {
        color: #709EF2;
        cursor: pointer;
      }

      input {
        display: none;
      }

      input:checked + label {
        color: #709EF2;
        font-weight: bolder;
      }
    }
  }

  .project_missions_skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;

    h3 {
      color: rgb(160,160,160);
      font-size: 14px;
      font-weight: lighter;
      margin-top: 0;
      margin-bottom: 0;
    }

    label {
      margin-bottom: 0;
    }
  }
}

// .collection-check-boxes {
//   display: flex;
//   justify-content: space-between;

  // input[type="checkbox"] {
  //   // display: none;
  // }
  //
  // .check-box:checked + label {
  //   color: #D0021B;
  //   font-weight: bolder;
  // }
  //
  // input[type="checkbox"]:checked + label {
  //   color: #D0021B;
  //   font-weight: bolder;
  // }

//   .check-box {
//     color: rgb(160,160,160);
//     font-weight: bolder;
//     &:hover {
//       color: #D0021B;
//       cursor: pointer;
//     }
//
//     input {
//       // display: none;
//     }
//
//     input:checked + label {
//       color: #D0021B;
//       font-weight: bolder;
//     }
//   }
// }

.collection-check-boxes {
  display: flex;
  flex: 0 0 30%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 18px;

  input, .checked  {
    display: none;
  }
  label {
    cursor: pointer;
  }
  .check-box {
    background: rgb(220,220,220);
    border-radius: 3px;
    padding: 6px 10px;
    color: white;
    margin: 5px;
    font-weight: normal;
  }

  input:checked + .check-box .checked {
    display: inline;
  }
  input:checked + .check-box .unchecked {
    display: none;
  }
  input:checked + .check-box {
    background: $green;
  }
}
