.form-project {
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;

  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: $blue;
  }

  h2 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 15px;
    font-weight: lighter;
  }

  .company-title {
    font-weight: bolder;
  }

  .h1 .text {
    padding-top: 15px;
  }

  .btn-warning {
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 30px;
    color: white;
    transition: 0.4s ease;
    font-size: 14px;
    width: 100%;
    transition: .3s ease-out;
    border-color: $orange;
  }

  .btn-warning:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    background-color: #ff6b51;
    border-color: #ff6b51;
  }
}

.category-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
  flex-wrap: wrap;
}

.category-choice {
  color: #cccccc;
  background: transparent;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  font-size: 14px;
  text-align: center;
  &:hover {
    background: rgba(112,158,242,0.1);
    border: 1px solid $blue;
    color: $blue;
    cursor: pointer;
  }
  &.active {
    background: rgba(112,158,242,0.4);
    border: 1px solid $blue;
    color: $blue;
  }
}

.split {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 13.5px;
    font-weight: lighter;
    color: $lightgray;
    padding-right: 10px;
    margin-right: 0px;
    text-align: right;
  }
}
