.dash-projects {
  width: 100%;
  margin: 5px;
}

.dash-step {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.project-followup {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #A9A9A9;
  border-bottom: 1px solid #A9A9A9;
  padding: 0px 10px 0px 10px;
  margin: 5px 5px 5px 5px;
}

.status {
  width: 100px;
  margin: 5px;
  padding: 5px;
  border: 1px solid $lightgray;
  border-radius: 4px;
}

.dash-content {
  height: 100%;
  flex-grow: 1;
}
