.mission-followup {
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  border-top: 1px solid #A9A9A9;
  border-bottom: 1px solid #A9A9A9;
  padding: 0px 10px 0px 10px;
  margin: 5px 5px 5px 5px;
}
.items {
  padding: 0px 5px 0px 5px;
  margin: 5px 5px 5px 5px;
  border-left: 1px solid #A9A9A9;
}
.company {
  width: 15%;
  margin: 0px;
}
.title {
  width: 40%;
  margin: 0px;
}
.skill_list {
  width: 25%;
  margin: 0px;
}
.request_title {
  width: 20%;
  margin: 0px;
}
.description {
  width: 40%;
  margin: 0px;
}
.budget {
  width: 10%;
  margin: 0px;
}
