.searchbar {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-left: 50px;
}

.searchbar-title {
  font-size: 24px;
}

.searchbar-skills-styled-select {
   font-size: 14px;
   height: 26px;
   overflow: hidden;
   width: 105px;
   background-color: transparent;
}

.field-input {
  text-align: center;
}
.field-input input {
  text-align: left;
  border-radius: 6rem;
  border: 1px solid #aaaaaa;
  padding: 1px 2px 1px 13px;
  width: 170px;
  font-family: helvetica;
  color: #aaaaaa;
  transition: 0.5s;
    border-radius: 5px;
}
.field-input input:focus {
  outline: none;
  border-color: $gray;
  transition: 0.5s;
}
.field-input span:before {
  content: "ï€‚";
  cursor: pointer;
  position: relative;
  font-family: fontawesome;
  color: #aaaaaa;
  top: 0;
  right: 25px;
}
