.sidebar {
  background-color: white;
  box-shadow: 9px 10px 20px -10px rgba(50, 50, 50, 0.2);
}

.sidebar-logo img {
  height: 50px;
  margin-top: 10px;
}

.background_blue {
  width: 230px;
  height: 160px;
  background: linear-gradient(170deg,#3C78E7 20%, #3EA7E0 100%);
  display: flex;
  justify-content: center;
}

.components_rounded {
  margin-top: -49px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.icon_parameters {
  width: 40px;
  height: 40px;
  box-shadow: -1px 10px 20px -10px rgba(50, 50, 50, 0.2);
}

.icon_notif {
  width: 40px;
  height: 40px;
  box-shadow: -1px 10px 20px -10px rgba(50, 50, 50, 0.3);
}

.side-navbar-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid white;
}

.infos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.name h2 {
  margin-top: 20px;
  margin-bottom: 2px;
  color: #545555;
  font-size: 20px;
}

.statut p {
  margin: 2px;
  color: #A9A9A9;
  font-weight: 100;
  font-size: 16px;
}

.side_menu {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;

}

div.container_menu a
{
  color: #A9A9A9;
  text-decoration: none;
  font: 15px;
  font-weight: 300;
  margin: 0px 0px;
  padding: 11px 40px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.pullRight a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: grey;
    opacity: 0.15;
    transition: all 0.3s;
}

div.pullRight a:hover:before
{
    width: 100%;
}
