.skill {
  font-size: 16px;
  // javascript skill
  .j {
    color: $lightorange;
  }
  // html skill
  .h {
    color: $lightblue;
  }
  // ruby skill
  .r {
    color: $red;
  }
  // css skill
  .c {
    color: $lightgreen;
  }
}
