<div class="card-mission">
  <div class="card-mission-title background-blue">
    <p>Mission title</p>
  </div>
  <div class="card-mission-company-infos">
    <img src="https://dcassetcdn.com/design_img/477551/105643/105643_3711538_477551_image.png" alt="">
    <div class="card-mission-price-name">
      <div class="card-mission-price blue">
        5.000 €
      </div>
      <div class="card-mission-company-name">
        Golden Yak
      </div>
     </div>
  </div>
  <div class="card-mission-content">
    <div class="card-mission-date">
      Date : 6 janvier 2018
    </div>
    <div class="card-mission-description">
      Développement d’une application dans le secteur du bâtiment. Développement d’une application dans le secteur du bâtiment.
    </div>
    <div class="card-mission-skills">
      <div class="card-mission-js">
        JS
      </div>
      <div class="card-mission-ruby">
        Ruby
      </div>
      <div class="card-mission-html blue">
        HTML
      </div>
      <div class="card-mission-css">
        CSS
      </div>
    </div>
  </div>
</div>
